@using System.Data
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibration Certificate</title>
    <style>
        /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
        /* Document
   ========================================================================== */
        /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
        html {
            line-height: 1.15;
            /* 1 */
            -webkit-text-size-adjust: 100%;
            /* 2 */
        }

        /* Sections
   ========================================================================== */
        /**
 * Remove the margin in all browsers.
 */
        body {
            margin: 0;
        }

        /**
 * Render the `main` element consistently in IE.
 */
        main {
            display: block;
        }

        /**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        /* Grouping content
   ========================================================================== */
        /**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
        hr {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            /* 1 */
            height: 0;
            /* 1 */
            overflow: visible;
            /* 2 */
        }

        /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
        pre {
            font-family: monospace, monospace;
            /* 1 */
            font-size: 1em;
            /* 2 */
        }

        /* Text-level semantics
   ========================================================================== */
        /**
 * Remove the gray background on active links in IE 10.
 */
        a {
            background-color: transparent;
        }

        /**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
        abbr[title] {
            border-bottom: none;
            /* 1 */
            text-decoration: underline;
            /* 2 */
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
            /* 2 */
        }

        /**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
        b,
        strong {
            font-weight: bolder;
        }

        /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
        code,
        kbd,
        samp {
            font-family: monospace, monospace;
            /* 1 */
            font-size: 1em;
            /* 2 */
        }

        /**
 * Add the correct font size in all browsers.
 */
        small {
            font-size: 80%;
        }

        /**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }

        /* Embedded content
   ========================================================================== */
        /**
 * Remove the border on images inside links in IE 10.
 */
        img {
            border-style: none;
        }

        /* Forms
   ========================================================================== */
        /**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            /* 1 */
            font-size: 100%;
            /* 1 */
            line-height: 1.15;
            /* 1 */
            margin: 0;
            /* 2 */
        }

        /**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
        button,
        input {
            /* 1 */
            overflow: visible;
        }

        /**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
        button,
        select {
            /* 1 */
            text-transform: none;
        }

        /**
 * Correct the inability to style clickable types in iOS and Safari.
 */
        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        }

        /**
 * Remove the inner border and padding in Firefox.
 */
        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        /**
 * Restore the focus styles unset by the previous rule.
 */
        button:-moz-focusring,
        [type="button"]:-moz-focusring,
        [type="reset"]:-moz-focusring,
        [type="submit"]:-moz-focusring {
            outline: 1px dotted ButtonText;
        }

        /**
 * Correct the padding in Firefox.
 */
        fieldset {
            padding: 0.35em 0.75em 0.625em;
        }

        /**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
        legend {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* 1 */
            color: inherit;
            /* 2 */
            display: table;
            /* 1 */
            max-width: 100%;
            /* 1 */
            padding: 0;
            /* 3 */
            white-space: normal;
            /* 1 */
        }

        /**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
        progress {
            vertical-align: baseline;
        }

        /**
 * Remove the default vertical scrollbar in IE 10+.
 */
        textarea {
            overflow: auto;
        }

        /**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
        [type="checkbox"],
        [type="radio"] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* 1 */
            padding: 0;
            /* 2 */
        }

        /**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
        [type="number"]::-webkit-inner-spin-button,
        [type="number"]::-webkit-outer-spin-button {
            height: auto;
        }

        /**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
        [type="search"] {
            -webkit-appearance: textfield;
            /* 1 */
            outline-offset: -2px;
            /* 2 */
        }

        /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
        [type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        /**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            /* 1 */
            font: inherit;
            /* 2 */
        }

        /* Interactive
   ========================================================================== */
        /*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
        details {
            display: block;
        }

        /*
 * Add the correct display in all browsers.
 */
        summary {
            display: list-item;
        }

        /* Misc
   ========================================================================== */
        /**
 * Add the correct display in IE 10+.
 */
        template {
            display: none;
        }

        /**
 * Add the correct display in IE 10.
 */
        [hidden] {
            display: none;
        }

        @@font-face {
            font-family: 'Roboto';
            src: url(../font/Roboto/Roboto-Regular.ttf);
        }

        @@font-face {
            font-family: 'Roboto Medium';
            src: url(../font/Roboto/Roboto-Medium.ttf);
        }

        @@font-face {
            font-family: 'Roboto Black';
            src: url(../font/Roboto/Roboto-Black.ttf);
        }

        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-size: 10.5pt;
            line-height: 1.5;
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            font-weight: inherit;
        }

        table {
            border-collapse: collapse;
        }

        ol {
            margin: 0;
        }

        .items-start {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        .items-end {
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
        }

        .items-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .items-baseline {
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
        }

        .items-stretch {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        .block {
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .inline {
            display: inline;
        }

        .flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .inline-flex {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
        }

        .font-consolas {
            font-family: 'Consolas' !important;
        }

        .font-bahnschrift {
            font-family: 'Bahnschrift' !important;
        }

        .font-roboto {
            font-family: 'Bahnschrift Light' !important;
        }

        .font-bahnschrift--semibold {
            font-family: 'Bahnschrift Semibold' !important;
        }

        .font-roboto {
            font-family: 'Roboto' !important;
        }

        .font-roboto--medium font-bold {
            font-family: 'Roboto Medium' !important;
        }

        .text-9pt {
            font-size: 9pt !important;
        }

        .text-10pt {
            font-size: 10pt !important;
        }

        .text-10\.5pt {
            font-size: 10.5pt !important;
        }

        .text-11pt {
            font-size: 11pt !important;
        }

        .text-12pt {
            font-size: 12pt !important;
        }

        .text-14pt {
            font-size: 14pt !important;
        }

        .font-bold {
            font-weight: 700 !important;
        }

        .h-8 {
            height: 30pt;
        }

        .h-full {
            height: 100%;
        }

        .leading-3 {
            line-height: 0.75rem;
        }

        .leading-4 {
            line-height: 1rem;
        }

        .leading-5 {
            line-height: 1.25rem;
        }

        .leading-6 {
            line-height: 1.5rem;
        }

        .leading-7 {
            line-height: 1.75rem;
        }

        .leading-8 {
            line-height: 2rem;
        }

        .leading-9 {
            line-height: 2.25rem;
        }

        .leading-10 {
            line-height: 2.5rem;
        }

        .leading-none {
            line-height: 1;
        }

        .leading-tight {
            line-height: 1.25;
        }

        .leading-snug {
            line-height: 1.375;
        }

        .leading-normal {
            line-height: 1.5;
        }

        .ml-2 {
            margin-left: 7.5pt;
        }

        .mt-4 {
            margin-top: 15pt;
        }

        .px-2 {
            padding-left: 7.5pt;
            padding-right: 7.5pt;
        }

        .w-26 {
            width: 97.5pt;
        }

        .w-100pt {
            width: 100pt;
        }

        .w-32 {
            width: 120pt;
        }

        .w-1\/2 {
            width: 50%;
        }

        .w-1\/3 {
            width: 33.333333%;
        }

        .w-2\/3 {
            width: 66.666667%;
        }

        .w-1\/4 {
            width: 25%;
        }

        .w-2\/4 {
            width: 50%;
        }

        .w-3\/4 {
            width: 75%;
        }

        .w-1\/5 {
            width: 20%;
        }

        .w-2\/5 {
            width: 40%;
        }

        .w-3\/5 {
            width: 60%;
        }

        .w-4\/5 {
            width: 80%;
        }

        .w-1\/6 {
            width: 16.666667%;
        }

        .w-2\/6 {
            width: 33.333333%;
        }

        .w-3\/6 {
            width: 50%;
        }

        .w-4\/6 {
            width: 66.666667%;
        }

        .w-5\/6 {
            width: 83.333333%;
        }

        .w-1\/12 {
            width: 8.333333%;
        }

        .w-2\/12 {
            width: 16.666667%;
        }

        .w-3\/12 {
            width: 25%;
        }

        .w-4\/12 {
            width: 33.333333%;
        }

        .w-5\/12 {
            width: 41.666667%;
        }

        .w-6\/12 {
            width: 50%;
        }

        .w-7\/12 {
            width: 58.333333%;
        }

        .w-8\/12 {
            width: 66.666667%;
        }

        .w-9\/12 {
            width: 75%;
        }

        .w-10\/12 {
            width: 83.333333%;
        }

        .w-11\/12 {
            width: 91.666667%;
        }

        .w-full {
            width: 100%;
        }

        .text-left {
            text-align: left !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        .text-justify {
            text-align: justify !important;
        }

        .align-top {
            vertical-align: top !important;
        }

        .whitespace-normal {
            white-space: normal !important;
        }

        .whitespace-no-wrap {
            white-space: nowrap !important;
        }

        .whitespace-pre {
            white-space: pre !important;
        }

        .whitespace-pre-line {
            white-space: pre-line !important;
        }

        .whitespace-pre-wrap {
            white-space: pre-wrap !important;
        }

        #app {
            width: 100%;
            margin: 0pt auto;
        }

        .header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            border-bottom: thin solid #000;
        }

        .header .header-left {
            font-size: 10pt;
            font-family: 'Century Gothic';
        }

        .header .header-left .logo {
            font-size: 22.5pt;
            font-weight: 600;
            line-height: 1;
        }

        .header .header-code {
            width: 79.5pt;
            height: 34.5pt;
            -o-object-fit: contain;
            object-fit: contain;
        }

        .title {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 60pt;
            font-size: 24pt;
            font-weight: bold;
            /*font-family: 'Roboto Medium';*/
        }

        .table {
            width: 100%;
        }

        .table--border-top {
            border-top: 1px solid #000 !important;
        }

        .table--border-bottom {
            border-bottom: 1px solid #000 !important;
        }

        .table--stripe tr:nth-child(even) {
            background-color: #f1f1f1;
        }

        .table thead {
            font-family: 'Consolas';
            font-size: 11pt;
            border-bottom: thin solid #000;
        }

        .table tbody {
            font-size: 10.5pt;
        }

        .table tr td {
            padding: 6pt;
        }

        .table tr th {
            font-weight: normal;
            padding: 6pt;
            text-align: left;
        }

        .autographs {
            padding: 0 30pt 30pt;
        }

        .autographs .autograph {
            position: relative;
            display: inline-block;
            width: 210pt;
            height: 60pt;
            text-align: center;
            border-bottom: thin solid #000;
        }

        .autographs .autograph:nth-child(even) {
            margin-left: 180pt;
        }

        .autographs .autograph::before {
            content: attr(data-name);
            position: absolute;
            top: 105%;
            right: 0;
            font-size: 11pt;
            font-family: 'Roboto Medium';
        }

        .autographs .autograph-img {
            position: absolute;
            /*bottom: 1pt;*/
            width: 80%;
            height: 65%;
            -o-object-fit: contain;
            object-fit: contain;
            top:40%; 
            left:15%;
            transform: translate(-50%,-50%);
        }

        .footer {
            font-family: 'Century Gothic';
        }

        .footer .footer-title {
            border-bottom: thin solid #000;
        }

        .footer .footer-company {
            font-size: 12pt;
            font-weight: bold;
        }

        .footer .copyright-span {
            display: block;
            height: 15pt;
            line-height: 15pt;
            font-size: 10pt;
            color: #666;
        }

        .footer .copyright-span:nth-child(even) {
            margin-top: -15pt;
            text-align: right;
        }

        /*# sourceMappingURL=app.css.map */
    </style>
</head>

<body>
    <div id="app">
        <header class="title font-roboto--medium font-bold">Calibration Certificate</header>
        <table class="table table--border-top table--border-bottom">
            <tbody>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">
                                DUT Name:
                            </span>
                            <span class="font-roboto--medium">Battery Tester</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">
                                Certificate No.:
                            </span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.CertificatenNumber</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">Manufacturer:</span>
                            <span class="font-roboto--medium">NEWARE</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">Calibration Date:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.CalibrationDate</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">Model:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.TesterModel</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">Calibration Due:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.CalibrationDue</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">Serial Number:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.TesterSn</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">Data Type:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.DataType As-Left</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">Asset No.:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.AssetNo</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">Location:</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.SiteCode</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-26">Temperature(℃):</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.Temperature</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-11pt">
                            <span class="inline-block font-roboto--medium font-bold whitespace-no-wrap w-32">Relative Humidity(RH):</span>
                            <span class="font-roboto--medium">@Model.Data.CalibrationCertificate.RelativeHumidity</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <section>
            <h1 class="font-roboto--medium font-bold text-14pt">I.Main Standards Used</h1>
            <table class="table">
                <thead class="font-bahnschrift--semibold">
                    <tr>
                        <th>Standard Name</th>
                        <th>Characteristics</th>
                        <th>Asset No.</th>
                        <th>Certificate No.</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.MainStandardsUsed)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Characterisics</td>
                            <td>@item.AssetNo</td>
                            <td>@item.CertificateNo</td>
                            <td>@item.DueDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section style="margin-top:10%">
            <h1 class="font-roboto--medium font-bold text-14pt">II.Uncertainty Budget</h1>
            <h2 class="font-roboto--medium font-bold text-14pt">1. T.U.R. Table</h2>
            <table class="table">
                <thead class="font-roboto--medium font-bold">
                    <tr>
                        <th class="text-right font-bold">#</th>
                        <th class="text-right font-bold">Point</th>
                        <th class="text-right font-bold">U<sub>95%</sub> Standard</th>
                        <th class="text-right font-bold">T.U.R.</th>
                        <th class="text-right font-bold">Spec</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">

                    @foreach (var item in @Model.Data.TurTables)
                    {
                        <tr>
                            <td class="text-right">@item.Number</td>
                            <td class="text-right">@item.Point</td>
                            <td class="text-right">@item.U95Standard</td>
                            <td class="text-right">@item.TUR</td>
                            <td class="text-right">@item.Spec</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
            <h2 class="font-roboto--medium font-bold text-14pt mt-4">2. Uncertainty Budget Table*</h2>
            <div class="inline-flex items-center font-consolas text-12pt h-8">
                <span class="inline-block h-full flex items-center px-2 font-bold">Voltage:</span>
                <span class="inline-block h-full flex items-center px-2 font-bold">@Model.Data.VoltageUncertaintyBudgetTables.Value</span>
            </div>
            <table class="table table--border-top">
                <thead class="font-roboto text-11pt font-roboto--medium font-bold">
                    <tr>
                        <th style="width: 18%;" class="text-11pt font-bold w-100pt">Uncertainty Contributors</th>
                        <th style="width: 10%;" class="text-11pt font-bold text-right">Value</th>
                        <th style="width: 14%;" class="text-11pt font-bold text-right">Sensitivity Coefficient</th>
                        <th style="width: 4%;" class="text-11pt font-bold">Unit</th>
                        <th style="width: 4%;" class="text-11pt font-bold">Type</th>
                        <th style="width: 17%;" class="text-11pt font-bold">Distribution</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Coverage Factor</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Std Uncertainty</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Significance </th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.VoltageUncertaintyBudgetTables.Datas)
                    {
                        <tr>
                            <td>@item.UncertaintyContributors</td>
                            <td class="whitespace-no-wrap text-right">@item.Value</td>
                            <td class="text-right">@item.SensitivityCoefficient</td>
                            <td>@item.Unit</td>
                            <td>@item.Type</td>
                            <td>@item.Distribution</td>
                            <td class="text-right">@item.CoverageFactor</td>
                            <td class="text-right whitespace-no-wrap">@item.StdUncertainty</td>
                            <td class="text-right">@item.Significance</td>
                        </tr>
                    }
                    <tr>
                        <td>Tester Resolution</td>
                        <td class="whitespace-no-wrap text-right">@Model.Data.VoltageUncertaintyBudgetTables.TesterResolutionValue</td>
                        <td class="text-right">1</td>
                        <td>V</td>
                        <td>B</td>
                        <td>Rectangular(Resolution)</td>
                        <td class="text-right">3.464</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.VoltageUncertaintyBudgetTables.TesterResolutionStdUncertainty</td>
                        <td class="text-right">@Model.Data.VoltageUncertaintyBudgetTables.TesterResolutionSignificance</td>
                    </tr>
                    <tr class="table--border-bottom">
                        <td>Repeatability of Reading</td>
                        <td class="whitespace-no-wrap text-right">@Model.Data.VoltageUncertaintyBudgetTables.RepeatabilityOfReadingValue</td>
                        <td class="text-right">1</td>
                        <td>V</td>
                        <td>A</td>
                        <td>Standard Uncertainty</td>
                        <td class="text-right">1</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.VoltageUncertaintyBudgetTables.RepeatabilityOfReadingStdUncertainty</td>
                        <td class="text-right">@Model.Data.VoltageUncertaintyBudgetTables.RepeatabilityOfReadingSignificance</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="font-roboto--medium font-bold">Combined Uncertainty</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.VoltageUncertaintyBudgetTables.CombinedUncertainty</td>
                        <td class="text-right">@Model.Data.VoltageUncertaintyBudgetTables.CombinedUncertaintySignificance</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="font-roboto--medium font-bold">Coverage Factor</td>
                        <td></td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.VoltageUncertaintyBudgetTables.CoverageFactor</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="font-roboto--medium font-bold table--border-bottom">Expanded Uncertainty</td>
                        <td class="table--border-bottom text-right">@Model.Data.VoltageUncertaintyBudgetTables.ExpandedUncertainty</td>
                        <td class="table--border-bottom"></td>
                    </tr>
                </tbody>
            </table>
            <div class="inline-flex items-center font-consolas text-12pt h-8 mt-4">
                <span class="inline-block h-full flex items-center px-2 font-bold">Current:</span>
                <span class="inline-block h-full flex items-center font-bold">@Model.Data.CurrentUncertaintyBudgetTables.Value</span>
            </div>
            <table class="table table--border-top">
                <thead class="font-roboto text-11pt font-roboto--medium font-bold">
                    <tr>
                        <th style="width: 18%;" class="text-11pt font-bold w-100pt">Uncertainty Contributors</th>
                        <th style="width: 10%;" class="text-11pt font-bold text-right">Value</th>
                        <th style="width: 14%;" class="text-11pt font-bold text-right">Sensitivity Coefficient</th>
                        <th style="width: 4%;" class="text-11pt font-bold">Unit</th>
                        <th style="width: 4%;" class="text-11pt font-bold">Type</th>
                        <th style="width: 17%;" class="text-11pt font-bold">Distribution</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Coverage Factor</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Std Uncertainty</th>
                        <th style="width: 11%;" class="text-11pt font-bold text-right">Significance </th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.CurrentUncertaintyBudgetTables.Datas)
                    {
                        <tr>
                            <td>@item.UncertaintyContributors</td>
                            <td class="text-right whitespace-no-wrap">@item.Value</td>
                            <td class="text-right">@item.SensitivityCoefficient</td>
                            @{
                                if (item.Unit == "Ohms")
                                {
                                    <td>
                                        Ω
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @item.Unit
                                    </td>
                                }}

                            <td>@item.Type</td>
                            <td>@item.Distribution</td>
                            <td class="text-right">@item.CoverageFactor</td>
                            <td class="text-right whitespace-no-wrap">@item.StdUncertainty</td>
                            <td class="text-right">@item.Significance</td>
                        </tr>
                    }
                    <tr>
                        <td>Tester Resolution</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.TesterResolutionValue</td>
                        <td class="text-right">1</td>
                        <td>A</td>
                        <td>B</td>
                        <td>Rectangular(Resolution)</td>
                        <td class="text-right">3.464</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.TesterResolutionStdUncertainty</td>
                        <td class="text-right">@Model.Data.CurrentUncertaintyBudgetTables.TesterResolutionSignificance</td>
                    </tr>
                    <tr class="table--border-bottom">
                        <td>Repeatability of Reading</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.RepeatabilityOfReadingValue</td>
                        <td class="text-right">1</td>
                        <td>A</td>
                        <td>A</td>
                        <td>Standard Uncertainty</td>
                        <td class="text-right">1</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.RepeatabilityOfReadingStdUncertainty</td>
                        <td class="text-right">@Model.Data.CurrentUncertaintyBudgetTables.RepeatabilityOfReadingSignificance</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="font-roboto--medium font-bold">Combined Uncertainty</td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.CombinedUncertainty</td>
                        <td class="text-right">@Model.Data.CurrentUncertaintyBudgetTables.CombinedUncertaintySignificance</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="font-roboto--medium font-bold">Coverage Factor</td>
                        <td></td>
                        <td class="text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.CoverageFactor</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="whitespace-no-wrap"></td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="font-roboto--medium font-bold table--border-bottom" ">Expanded Uncertainty</td>
                        <td class="table--border-bottom text-right whitespace-no-wrap">@Model.Data.CurrentUncertaintyBudgetTables.ExpandedUncertainty</td>
                        <td class="table--border-bottom"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
        <section>
            <h1 class="font-roboto--medium font-bold text-14pt">III.Data Sheet</h1>
            <h2 class="font-roboto--medium font-bold text-12pt">1. Charging Voltage</h2>
            <table class="table table--stripe table--border-bottom">
                <thead class="font-consolas">
                    <tr>
                        <th class="font-bold">Channel &emsp;&emsp;&emsp;&emsp;</th>
                        <th class="text-right font-bold">Range (V)</th>
                        <th class="text-right font-bold">Indication (V)</th>
                        <th class="text-right font-bold">Measured Value (V)</th>
                        <th class="text-right font-bold">Error (mV)</th>
                        <th class="text-right font-bold">Acceptance (mV)</th>
                        <th class="text-right font-bold">Uncertainty (mV)</th>
                        <th class="text-right font-bold">Conclusion &emsp;</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.ChargingVoltage)
                    {
                        <tr>
                            @if (@item.Conclusion != "P")
                            {
                                <td style="color: red">@item.Channel</td>
                                <td class="text-right" style="color: red">@item.Range</td>
                                <td class="text-right" style="color: red">@item.Indication</td>
                                <td class="text-right" style="color: red">@item.MeasuredValue</td>
                                <td class="text-right" style="color: red">@item.Error</td>
                                <td class="text-right" style="color: red">@item.Acceptance</td>
                                <td class="text-right" style="color: red">@item.Uncertainty</td>
                                <td class="text-center" style="color: red">@item.Conclusion</td>
                            }
                            else
                            {
                                <td>@item.Channel</td>
                                <td class="text-right">@item.Range</td>
                                <td class="text-right">@item.Indication</td>
                                <td class="text-right">@item.MeasuredValue</td>
                                <td class="text-right">@item.Error</td>
                                <td class="text-right">@item.Acceptance</td>
                                <td class="text-right">@item.Uncertainty</td>
                                <td class="text-center">@item.Conclusion</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
            <h2 class="font-roboto--medium font-bold text-12pt">2. Discharging Voltage</h2>
            <table class="table table--stripe table--border-bottom">
                <thead class="font-consolas">
                    <tr>
                        <th class="font-bold">Channel &emsp;&emsp;&emsp;&emsp;</th>
                        <th class="text-right font-bold">Range (V)</th>
                        <th class="text-right font-bold">Indication (V)</th>
                        <th class="text-right font-bold">Measured Value (V)</th>
                        <th class="text-right font-bold">Error (mV)</th>
                        <th class="text-right font-bold">Acceptance (mV)</th>
                        <th class="text-right font-bold">Uncertainty (mV)</th>
                        <th class="text-right font-bold">Conclusion &emsp;</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.DischargingVoltage)
                    {
                        <tr>
                            @if (@item.Conclusion != "P")
                            {
                                <td style="color: red">@item.Channel</td>
                                <td class="text-right" style="color: red">@item.Range</td>
                                <td class="text-right" style="color: red">@item.Indication</td>
                                <td class="text-right" style="color: red">@item.MeasuredValue</td>
                                <td class="text-right" style="color: red">@item.Error</td>
                                <td class="text-right" style="color: red">@item.Acceptance</td>
                                <td class="text-right" style="color: red">@item.Uncertainty</td>
                                <td class="text-center" style="color: red">@item.Conclusion</td>
                            }
                            else
                            {
                                <td>@item.Channel</td>
                                <td class="text-right">@item.Range</td>
                                <td class="text-right">@item.Indication</td>
                                <td class="text-right">@item.MeasuredValue</td>
                                <td class="text-right">@item.Error</td>
                                <td class="text-right">@item.Acceptance</td>
                                <td class="text-right">@item.Uncertainty</td>
                                <td class="text-center">@item.Conclusion</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
            <h2 class="font-roboto--medium font-bold text-12pt">3. Charging Current</h2>
            <table class="table table--stripe table--border-bottom">
                <thead class="font-consolas">
                    <tr>
                        <th class="font-bold">Channel &emsp;&emsp;&emsp;&emsp;</th>
                        <th class="text-right font-bold">Range (A)</th>
                        <th class="text-right font-bold">Indication (A)</th>
                        <th class="text-right font-bold">Measured Value (A)</th>
                        <th class="text-right font-bold">Error (mA)</th>
                        <th class="text-right font-bold">Acceptance (mA)</th>
                        <th class="text-right font-bold">Uncertainty (mA)</th>
                        <th class="text-right font-bold">Conclusion &emsp;</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.ChargingCurrent)
                    {
                        <tr>
                            @if (@item.Conclusion != "P")
                            {
                                <td style="color: red">@item.Channel</td>
                                <td class="text-right" style="color: red">@item.Range</td>
                                <td class="text-right" style="color: red">@item.Indication</td>
                                <td class="text-right" style="color: red">@item.MeasuredValue</td>
                                <td class="text-right" style="color: red">@item.Error</td>
                                <td class="text-right" style="color: red">@item.Acceptance</td>
                                <td class="text-right" style="color: red">@item.Uncertainty</td>
                                <td class="text-center" style="color: red">@item.Conclusion</td>
                            }
                            else
                            {
                                <td>@item.Channel</td>
                                <td class="text-right">@item.Range</td>
                                <td class="text-right">@item.Indication</td>
                                <td class="text-right">@item.MeasuredValue</td>
                                <td class="text-right">@item.Error</td>
                                <td class="text-right">@item.Acceptance</td>
                                <td class="text-right">@item.Uncertainty</td>
                                <td class="text-center">@item.Conclusion</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
            <h2 class="font-roboto--medium font-bold text-12pt">4. Discharging Current</h2>
            <table class="table table--stripe table--border-bottom">
                <thead class="font-consolas">
                    <tr>
                        <th class="font-bold">Channel &emsp;&emsp;&emsp;&emsp;</th>
                        <th class="text-right font-bold">Range (A)</th>
                        <th class="text-right font-bold">Indication (A)</th>
                        <th class="text-right font-bold">Measured Value (A)</th>
                        <th class="text-right font-bold">Error (mA)</th>
                        <th class="text-right font-bold">Acceptance (mA)</th>
                        <th class="text-right font-bold">Uncertainty (mA)</th>
                        <th class="text-right font-bold">Conclusion &emsp;</th>
                    </tr>
                </thead>
                <tbody class="font-consolas text-11pt">
                    @foreach (var item in @Model.Data.DischargingCurrent)
                    {
                        <tr>
                            @if (@item.Conclusion != "P")
                            {
                                <td style="color: red">@item.Channel</td>
                                <td class="text-right" style="color: red">@item.Range</td>
                                <td class="text-right" style="color: red">@item.Indication</td>
                                <td class="text-right" style="color: red">@item.MeasuredValue</td>
                                <td class="text-right" style="color: red">@item.Error</td>
                                <td class="text-right" style="color: red">@item.Acceptance</td>
                                <td class="text-right" style="color: red">@item.Uncertainty</td>
                                <td class="text-center" style="color: red">@item.Conclusion</td>
                            }
                            else
                            {
                                <td>@item.Channel</td>
                                <td class="text-right">@item.Range</td>
                                <td class="text-right">@item.Indication</td>
                                <td class="text-right">@item.MeasuredValue</td>
                                <td class="text-right">@item.Error</td>
                                <td class="text-right">@item.Acceptance</td>
                                <td class="text-right">@item.Uncertainty</td>
                                <td class="text-center">@item.Conclusion</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <div style="page-break-inside: avoid; page-break-before: always; page-break-after: always; "></div>
        <section>
            <h1 class="font-roboto--medium font-bold text-14pt">IV.Comments</h1>
            <ol class="font-roboto text-14pt leading-9">
                <li>
                    Measurement uncertainties are given in the pages above, where applicable. They are calculated in
                    accordance with the method described in NIST TN 1297. All uncertainties are reported at a coverage
                    factor of 2 (k=2) for an approximately 95% confidence unless specified.
                </li>
                <li>
                    This calibration is traceable to the International System of Units (SI), through National
                    Institute of Metrology (NIM) that is signatory to the CIPM Mutual Recognition Arrangement.
                </li>
                <li>
                    The Data Type in this certificate could be interpreted as:
                    <ol type='a'>
                        <li>As Found. Calibration data collected before the unit is adjusted and/or repaired.</li>
                        <li>As Left. Calibration data collected after the unit is adjusted and/or repaired.</li>
                    </ol>
                </li>
                <li>
                    The acceptance limit denotes the guard band imposed on specifications to ensure a probability of
                    false accept (PFA) of 2% or less.
                </li>
                <li>
                    Uncertainties are evaluated simultaneously when a calibration point is finished. Above data is
                    presented for reference.
                </li>
                <li>
                    Conclusion column indicates compliance or otherwise with specification taking into account the
                    measurement uncertainty. Three conditions are indicated as follows:
                    <ol type='a'>
                        <li>
                            P or PASS. The measurement result is inside the acceptance limit with a guard band
                            strategy considered to ensure probability of false accept (PFA) of 2% or less.
                        </li>
                        <li>
                            P* or PASS*. The measurement result is inside the specification limit but outside the above
                            acceptance limit.
                        </li>
                        <li>F or Fail. The calibration point does not comply with the stated specification.</li>
                    </ol>
                </li>
                <li>
                    This certificate applies to only the item identified and shall not be reproduced other than in
                    full, without the specific written approval by Newell Laboratories. Calibration certificates without
                    signatures are not valid.
                </li>
            </ol>
        </section>
        <section class="autographs">
            <div class="autograph" data-name="Calibration Technician">
                <img class="autograph-img" src="data:image/png;base64, @Model.Data.CalibrationTechnician" alt>
            </div>
            <div class="autograph" data-name="Technical Manager">
                <img class="autograph-img" src="data:image/png;base64, @Model.Data.TechnicalManager" alt>
            </div>
            <div class="autograph" data-name="Approval Director">
                <img class="autograph-img" src="data:image/png;base64, @Model.Data.ApprovalDirector" alt>
            </div>
        </section>
    </div>
</body>

</html>