
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .Page {
            width: 800px;
            height: 1130px;
            margin: 0 auto;
        }

        table {
            width: 800px;
            height: 300px;
            /* 表边框合并  两个单元格之间的边框进行合并 */
            margin: 0 auto;
            border-width: 1px;
            border-style: solid;
            border-color: black;
        }

            table td, th {
                background-color: white;
                height: 20px;
                width: 100px;
            }

            table td {
                border-width: 1px;
                border-style: dotted none none dotted;
                border-color: black;
            }

        .borderTop td {
            border-top-style: none;
        }

        .borderleft {
            border-left-style: none;
        }

        .typeface {
            font-size: 16px;
            font-weight: 888;
        }
    </style>

</head>
<body>
    <div class="Page">
        <h3 style="margin-top: 2rem; text-align: center;">差旅报销单</h3>
        <table>
            <tr class="borderTop">
                <td class="borderleft typeface">
                    &nbsp开始日期
                </td>
                <td style="width:140px">
                    @Model.Data.StartTime.ToString("yyyy年MM月dd日")
                </td>
                <td class="typeface">
                    &nbsp结束日期
                </td>
                <td style="width:140px">
                    @Model.Data.EndTime.ToString("yyyy年MM月dd日")
                </td>
                <td class="typeface">
                    &nbsp总天数
                </td>
                <td>
                    @Model.Data.Day
                </td>
                <td class="typeface" style="width:50px">
                    &nbsp单号
                </td>
                <td style="width:50px">
                    @Model.Data.ReimburseId
                </td>
            </tr>
            <tr>
                <td class="borderleft typeface">
                    &nbsp部门
                </td>
                <td style="width:140px">
                    @Model.Data.OrgName
                </td>
                <td class="typeface">
                    &nbsp姓名
                </td>
                <td style="width:140px">
                    @Model.Data.UserName
                </td>
                <td class="typeface">
                    &nbsp职别
                </td>
                <td>
                    @Model.Data.Position
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="borderleft typeface">
                    &nbsp客户名称
                </td>
                <td>
                    @Model.Data.TerminalCustomer
                </td>
                <td class="typeface">
                    &nbsp出差事由
                </td>
                <td colspan="5">
                    @Model.Data.FromTheme
                </td>
            </tr>
            <tr>
                <td class="borderleft typeface">
                    &nbsp费用类型
                </td>
                <td class="typeface" style="text-align: right;">
                    金额 &nbsp
                </td>
                <td class="typeface" style="text-align: right;">
                    交通费 &nbsp
                </td>
                <td class="typeface" style="text-align: right;">
                    住宿费 &nbsp
                </td>
                <td class="typeface" style="text-align: right; ">
                    其他费 &nbsp
                </td>
                <td class="typeface" style="text-align: right; ">
                    补助 &nbsp
                </td>
                <td class="typeface" style="text-align: right;" colspan="2">
                    合计 &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp飞机
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Aircraft 
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @{ var money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport; }
                    @money
                    &nbsp

                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.PutUp
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Else
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Subsidy
                    &nbsp
                </td>
                <td rowspan="7" colspan="2" style="text-align: right; ">
                    @{ money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport + Model.Data.PutUp + Model.Data.Else + Model.Data.Subsidy; }
                    @money
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp火车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Train
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp长途汽车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Coach
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp市内交通
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Transport
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp住宿
                </td>
                <td style="text-align: right; ">
                    @Model.Data.PutUp
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp其他
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Else
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp补助
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Subsidy
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft typeface">
                    &nbsp合计(大写)
                </td>
                <td colspan="7">
                    &nbsp
                    @Model.Data.Total
                </td>
            </tr>
            <tr>
                <td class="borderleft typeface">
                    &nbsp客服主管：
                </td>
                <td class="borderleft">
                </td>
                <td class="borderleft typeface">
                    &nbsp审核：
                </td>
                <td class="borderleft">
                </td>
                <td class="borderleft typeface">
                    &nbsp复审：
                </td>
                <td class="borderleft typeface">
                </td>
                <td class="borderleft typeface">
                    &nbsp出纳：
                </td>
                <td class="borderleft typeface">
                </td>
            </tr>
        </table>
        <div class="bill" style="width: 800px; height: 830px;">
            <div align="center" style="line-height:830px; font-size: 18px;">票据张贴处</div>
        </div>
    </div>
</body>
</html>