@using OpenAuth.App.Order.ModelDto
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            width: 1000px;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 13.5px;
            font-family: STSong;
            color: #444444;
        }
        
        table {
            border-collapse: collapse;
        }
        
        #tablebor {
            margin: 0 auto;
            border-collapse: collapse;
        }
        
        .TH td {
            border-style: solid;
            border-width: 1px;
        }
        
        #divtitle {
            margin: 0 auto;
        }
        
        hr {
            margin-top: 80px;
            height: 0px;
            border-top: 1px solid #000;
            border-right: 0px;
            border-bottom: 0px;
            border-left: 0px;
        }
        
        #divcode {
            height: 50px;
            width: 1000px;
            margin: 0 auto;
            border: 1px solid #000;
            border-spacing: 0 4px;
        }
        #txtDiv tr td{
        
            vertical-align: text-top;
        }
    </style>
</head>

<body>
    <table style="width:1000px" id="txtDiv">
        @{int number = 0;} @foreach (var item in Model.Data.ReimburseCosts) {
        <tr>
            <td style="width: 30px;" align="left">@{++number;} @number </td>
            <td style="width: 120px;" align="left">@item.ItemCode</td>
            <td style="width: 230px;" align="left">@item.Dscription</td>
            <td style="width: 50px;" align="right">@item.Quantity</td>
            <td style="width: 50px; " align="center">&nbsp;@item.unitMsr</td>
            <td style="width: 80px; " align="right">@item.Price</td>
            <td style="width: 80px; " align="right">@item.Money</td>
        </tr>
        }

    </table>
    <div style="border-top: 1px solid #7F7F7F; float: right; color: #000;font-weigjt:900">
         <div align="right" id="txtDisplay">
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Data.TAmount</span>
        </div>
        <div style="padding-top: 5px; " align="right" id = "txtDisplay1">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Model.Data.DiscSum</span>
        </div>
        
        <div style="padding-top:5px" align="right"> 
            <span > @Model.Data.DiscPrcnt</span>
            <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Data.DocTotal</span>
        </div>     
        <div id="txtDisplay2" style="display:none">@Model.Data.DisPlayStyle</div>
    </div>
<script type="text/javascript">
   document.getElementById("txtDisplay").style.display =  document.getElementById("txtDisplay2").innerText;
    document.getElementById("txtDisplay1").style.display = document.getElementById("txtDisplay2").innerText;
</script>
</body>

</html>