<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        html {
            font-size: 16px;
        }
        table {
            margin: 0 auto;
            border-width: 1px;
            border-style: solid;
            border-color: black;
        }
        table td {
            background-color: white;
            height: 20px;
            width: 120px;
            border-width: 1px;
            border-style: dotted none none dotted;
            border-color: black;
        }    

        .borderTop td {
            border-top-style: none;
        }

        .borderleft {
            border-left-style: none;
        }
    </style>

</head>

<body>
    <div class="Page">
        <h3 style="margin-top: 2rem; text-align: center; font-size:30px;">差旅报销单</h3>
        <table>
            <tr class="borderTop">
                <td class="borderleft">
                    &nbsp <b>开始日期</b>
                </td>
                <td style="width:140px">
                    @Model.Data.StartTime.ToString("yyyy年MM月dd日")
                </td>
                <td class=" ">
                    &nbsp <b>结束日期</b>
                </td>
                <td style="width:140px">
                    @Model.Data.EndTime.ToString("yyyy年MM月dd日")
                </td>
                <td class=" ">
                    &nbsp <b>总天数</b>
                </td>
                <td>
                    @Model.Data.Day
                </td>
                <td class=" " style="width:50px">
                    &nbsp <b>单号</b>
                </td>
                <td style="width:50px">
                    @Model.Data.ReimburseId
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp <b>部门</b>
                </td>
                <td style="width:140px">
                    @Model.Data.OrgName
                </td>
                <td class=" ">
                    &nbsp <b>姓名</b>
                </td>
                <td style="width:140px">
                    @Model.Data.UserName
                </td>
                <td>
                </td>
                <td>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>客户名称</b>
                </td>
                <td>
                    @Model.Data.TerminalCustomer
                </td>
                <td class=" ">
                    &nbsp  <b>出差事由</b>
                </td>
                <td colspan="5">
                    @Model.Data.FromTheme
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>费用类型</b>
                </td>
                <td class=" " style="text-align: right;  ">
                    <b>金额</b> &nbsp
                </td>
                <td class=" " style="text-align: right;">
                    <b>交通费</b> &nbsp
                </td>
                <td class=" " style="text-align: right;">
                    <b>住宿费</b> &nbsp
                </td>
                <td class=" " style="text-align: right; ">
                    <b>其他费</b> &nbsp
                </td>
                <td class=" " style="text-align: right; ">
                    <b>补助</b> &nbsp
                </td>
                <td class=" " style="text-align: right;" colspan="2">
                    <b>合计</b> &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 飞机
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Aircraft
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @{ var money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport; }
                    @money
                    &nbsp

                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.PutUp
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Else
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Subsidy
                    &nbsp
                </td>
                <td rowspan="7" colspan="2" style="text-align: right; ">
                    @{ money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport +
                       Model.Data.PutUp + Model.Data.Else + Model.Data.Subsidy; }
                    @money
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 火车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Train
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 长途汽车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Coach
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 市内交通
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Transport
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 住宿
                </td>
                <td style="text-align: right; ">
                    @Model.Data.PutUp
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 其他
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Else
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 补助
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Subsidy
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>合计(大写)</b>
                </td>
                <td colspan="7">
                    &nbsp
                    @Model.Data.Total
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>客服主管：</b>
                </td>
                <td class="borderleft">
                </td>
                <td class="borderleft  ">
                    &nbsp <b>审核：</b>
                </td>
                <td class="borderleft">
                </td>
                <td class="borderleft  ">
                    &nbsp <b>复审：</b>
                </td>
                <td class="borderleft  ">
                </td>
                <td class="borderleft  ">
                    &nbsp <b>出纳：</b>
                </td>
                <td class="borderleft  ">
                </td>
            </tr>
        </table>
        <div class="bill" style="width: 800px; height: 830px;">
            <div align="center" style="line-height:830px; font-size: 20px;">票据张贴处</div>
        </div>
    </div>
</body>

</html>