<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        html {
            font-size: 16px;
        }

        table {
            width: 800px;
            float: right;
            border-width: 1px;
            border-style: solid;
            border-color: black;
        }

            table td {
                background-color: white;
                height: 25px;
                border-width: 1px;
                border-style: dotted none none dotted;
                border-color: black;
            }

        .borderTop td {
            border-top-style: none;
        }

        .borderleft {
            border-left-style: none;
        }
    </style>

</head>

<body>
    <div class="Page">
        <h3 style="margin-top: 2rem; text-align: center; font-size:30px;">差旅报销单</h3>
        <table>
            <tr class="borderTop">
                <td class="borderleft" style="width:90px">
                    &nbsp <b>开始日期</b>
                </td>
                <td style="width:120px">
                    &nbsp @Model.Data.StartTime.ToString("yyyy年MM月dd日")
                </td>
                <td style="width:90px">
                    &nbsp <b>结束日期</b>
                </td>
                <td style="width:120px">
                    &nbsp @Model.Data.EndTime.ToString("yyyy年MM月dd日")
                </td>
                <td style="width:90px">
                    &nbsp <b>单号</b>
                </td>
                <td style="width:90px">
                    &nbsp @Model.Data.ReimburseId
                </td>
                <td style="width:90px">
                    &nbsp <b>总天数</b>
                </td>
                <td style="width:60px">
                    &nbsp @Model.Data.Day
                </td>

            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp <b>部门</b>
                </td>
                <td>
                    &nbsp @Model.Data.OrgName
                </td>

                <td>
                    &nbsp <b>客户名称</b>
                </td>
                <td colspan="5">
                    &nbsp @Model.Data.TerminalCustomer.Substring(0, 26)
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>姓名</b>
                </td>
                <td>
                    &nbsp @Model.Data.UserName
                </td>
                <td class=" ">
                    &nbsp  <b>出差事由</b>
                </td>
                <td colspan="5">
                    &nbsp @Model.Data.FromTheme
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>费用类型</b>
                </td>
                <td>
                    &nbsp <b>金额</b>
                </td>
                <td>
                    &nbsp <b>交通费</b>
                </td>
                <td>
                    &nbsp <b>住宿费</b>
                </td>
                <td>
                    &nbsp <b>其他费</b>
                </td>
                <td>
                    &nbsp <b>补助</b>
                </td>
                <td colspan="2">
                    &nbsp <b>合计</b>
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 飞机
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Aircraft.ToString("#0.00")
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @{ var money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport; }
                    @money.ToString("#0.00")
                    &nbsp

                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.PutUp.ToString("#0.00")
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Else.ToString("#0.00")
                    &nbsp
                </td>
                <td rowspan="7" style="text-align: right; ">
                    @Model.Data.Subsidy.ToString("#0.00")
                    &nbsp
                </td>
                <td rowspan="7" colspan="2" style="text-align: right; ">
                    @{ money = Model.Data.Aircraft + Model.Data.Train + Model.Data.Coach + Model.Data.Transport +
                        Model.Data.PutUp + Model.Data.Else + Model.Data.Subsidy; }
                    @money.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 火车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Train.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 长途汽车
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Coach.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 市内交通
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Transport.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 住宿
                </td>
                <td style="text-align: right; ">
                    @Model.Data.PutUp.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 其他
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Else.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft">
                    &nbsp 补助
                </td>
                <td style="text-align: right; ">
                    @Model.Data.Subsidy.ToString("#0.00")
                    &nbsp
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>合计(大写)</b>
                </td>
                <td colspan="7">
                    &nbsp
                    @Model.Data.Total
                </td>
            </tr>
            <tr>
                <td class="borderleft  ">
                    &nbsp <b>客服主管:</b>
                </td>
                <td class="borderleft  " colspan="2">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>审核:</b>
                </td>
                <td class="borderleft  ">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>复审:</b>
                </td>
                <td class="borderleft  ">
                </td>
                <td class="borderleft  " colspan="3">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>出纳:</b>
                </td>
            </tr>
        </table>
        <div class="bill" style=" float:right; width: 800px; height: 600;">
            <div align="center" style="line-height:600px; font-size: 20px;">票据张贴处</div>
        </div>
    </div>
</body>

</html>